@{
    ViewData["Title"] = "Destino";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laborum debitis vero aspernatur excepturi, dolore deserunt corporis voluptate delectus provident dolores necessitatibus. Rerum libero recusandae architecto culpa enim dignissimos cupiditate!</p>
</div>
<div style="display: flex; justify-content: center; flex-wrap: wrap" class="mt-5">
    @for (int i = 0; i < 8; i++)
    {
        <div class="card" style="min-width: 14rem; max-width: 16rem; margin: 10px;">
            <img class="card-img-top" src="https://s2.glbimg.com/S_cZLpzoH7oo5CMQWmICmDXykpA=/0x0:2200x1467/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/Z/w/t52IKrSQuA21olQGy6vg/coronavirus-25-03-2020-ap20085385529629-nariman-el-mofty-ap.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a asp-action="Contato" class="btn btn-outline-primary">Entre em contato</a>
            </div>
        </div>
    }
</div>

