@{
    ViewData["Title"] = "Home Page";
    ViewData["class"] = "HomePage";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<div id="home">
    <div id="main-text-group">
        <h2>Conheça a Viagens Tour</h2>
        <p>Viagens seguras e com preço amigável, para todas as partes do mundo!</p>
        <p id="aviso">*Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quia facere molestias neque consectetur quae dolor illum excepturi qui voluptas est quaerat expedita, magni commodi quas illo animi quisquam consequuntur.</p>
    </div>
</div>

