@{
    ViewData["Title"] = "Gerenciamento de Promocões";
}

<h1>Administrador</h1>

<a asp-action="MensagemContatos" class="btn btn-primary">Gerenciador de Mensagens</a>
<a asp-action="GerenciadorPromocao" class="btn btn-primary">Gerenciador de Promoções</a>